$primary-color: #2174db;
$dark-color: #212121;
$light-color: #e0e0e1;
$danger-color: #a61507;
$success-color: #139407;
$max-width: 1100px;

//SET TEXT COLOR BASED ON BACKGROUND
@function set-text-color($color) {
    @if( lightness($color) > 50 ) {
        @return #333333;
    } @else {
        @return #fff;
    }
}

//SET BACKGROUND AND TEXT COLOR
@mixin set-background($color) {
    background-color: $color;
    color: set-text-color($color);
}

//MARGIN AND PADDING
$spaceamounts: (1,2,3,4,5);
 @each $space in $spaceamounts {
     //ALL AROUND MARGIN
     .m-#{$space} {
         margin: #{$space};
     }

     //VERTICAL MARGIN
     .my-#{$space} {
        margin: #{$space}rem 0;
    }

    //ALL AROUND PADDING
    .p-#{$space} {
        padding: #{$space};
    }

    //VERTICAL padding
    .py-#{$space} {
       padding: #{$space}rem 0;
   }
 }